@model Overwatch_Maker.Models.Ability

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Ability Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strenght)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strenght)
        </dd>

    </dl>
</div>

@{ 
    string DurationValue = Model.Duration.ToString();
    string StrenghtValue = Model.Strenght.ToString();
}

<div class="progress progress-striped active">
    <div class="progress-bar progress-bar-info" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10%" style="width: 40%"></div>
</div>

<div class="progress progress-striped active">
    <div class="progress-bar progress-bar-danger" style="max-width: 500%; width: @StrenghtValue%"></div>
</div>

<div class="row">
    <div class="col-md-6">
        <a href='@Url.Action("Index", "Abilities")' class="btn btn-primary"> <span class="glyphicon glyphicon-chevron-left"> </span> Back to List</a>
    </div>
    <div class="col-md-6" style="text-align: right;">
        @Html.ActionLink("Edit Ability", "Edit", new { id = Model.AbilityID }, new { @class = "btn btn-warning" })
    </div>
</div>
