@model IEnumerable<Overwatch_Maker.Models.Ability>

@{
    ViewBag.Title = "Abilities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Abilities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<ul class="nav nav-tabs">
    <li class="active"><a href="#all" data-toggle="tab">All</a></li>
    <li><a href="#heal" data-toggle="tab" aria-expanded="false">Healing</a></li>
    <li><a href="#damage" data-toggle="tab" aria-expanded="false">Damaging</a></li>
</ul>
<br />
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="all">
        <div class="row">
            @foreach (var item in Model)
            {

                <!-- Not Working -->
                string color = "warning";
                if (item.Type == "Heal")
                {
                    color = "danger";
                }
                else
                {
                    color = "info";
                }

                <div class="col-md-4">
                    <div class="panel panel-@color"> <!-- Not Working (panel-info/panel-warfning) -->
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">@Html.DisplayFor(modelItem => item.Type)</span>
                                    @Html.DisplayNameFor(model => model.Type)
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">@Html.DisplayFor(modelItem => item.Duration)</span>
                                    @Html.DisplayNameFor(model => model.Duration)
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">@Html.DisplayFor(modelItem => item.Strenght)</span>
                                    @Html.DisplayNameFor(model => model.Strenght)
                                </li>
                            </ul>
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Description)</h4>
                                    <p class="list-group-item-text">@Html.DisplayFor(modelItem => item.Description)</p>
                                </a>
                            </div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.AbilityID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.AbilityID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.AbilityID })
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>

    <div class="tab-pane fade" id="heal">

    </div>


    <div class="tab-pane fade" id="damage">

    </div>


</div>






