@model Overwatch_Maker.Models.Hero

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Create</h2>
<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Well Done!</strong> &nbsp;Have fun with your hero!
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="select" name="Role">
                <option>Tank</option>
                <option>DPS</option>
                <option>Support</option>
            </select>
            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.WeaponID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 has-warning">
            <label class="control-label" for="inputWarning">Must be created first</label>
            @Html.DropDownList("WeaponID", null, htmlAttributes: new { @class = "form-control", id = "inputWarning" })
            @Html.ValidationMessageFor(model => model.WeaponID, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.AbilityID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 has-warning">
            <label class="control-label" for="inputWarning" style="padding-top: 0;">Must be created first</label>
            @Html.DropDownList("AbilityID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AbilityID, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Health, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="slidecontainer" style="margin-top: 12px;">
                <input type="range" min="1" max="500" value="250" class="slider" id="myRange" name="Health" oninput="showRange.value = myRange.value">
                <output id="showRange" style="color: white;"></output>
            </div>
            @Html.ValidationMessageFor(model => model.Health, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" class="form-control" name="Image" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create New Hero" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div class="row">
    <div class="col-md-6">
        <a href='@Url.Action("Index", "Heroes")' class="btn btn-info"> <span class="glyphicon glyphicon-chevron-left"> </span> Back to List</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
