@model Overwatch_Maker.Models.Weapon

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Delete Weapon</h2>

<h3 class="alert alert-danger"><span class="glyphicon glyphicon-trash"></span> &nbsp; Are you sure you want to delete "<strong>@Html.DisplayFor(model => model.Name)</strong>" ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ammo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ammo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReloadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReloadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Damage_Heal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Damage_Heal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>

    <div>
        <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 80%"></div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 40%"></div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions row">
            <div class="col-md-6">
                <a href='@Url.Action("Index", "Weapons")' class="btn btn-primary"> <span class="glyphicon glyphicon-chevron-left"> </span> Back to List</a>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <div class="form-actions no-color">
                    <input type="submit" value="Delete Weapon" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }
</div>
