@model Overwatch_Maker.Models.Weapon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Weapon Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ammo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ammo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReloadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReloadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Damage_Heal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Damage_Heal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>

<div>

    <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 40%"></div>
    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a href='@Url.Action("Index", "Weapons")' class="btn btn-primary"> <span class="glyphicon glyphicon-chevron-left"> </span> Back to List</a>
    </div>
    <div class="col-md-6" style="text-align: right;">
        @Html.ActionLink("Edit Weapon", "Edit", new { id = Model.WeaponID }, new { @class = "btn btn-warning" })
    </div>
</div>
